/* Services section, custom background colors
**********************************************/

@media #{$large-up} {
  div.bt-service div.row div.columns div.more {
    position: absolute;
    top: 130px;
    padding-top: 60px;
    //background: rgba(255,255,255,0.2);
    p {
      font-size: 1.3rem;
      font-weight: 400;
      line-height: 120%;
      //letter-spacing: 0.04rem;
      //text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    }
  }
  div.full-row div.bt-services-container div.bt-service {
    svg {
      position: absolute;
      bottom: -69px;
      width: 40px;
      height: 40px;
      left: 180px;
    }
  }
}

div.full-row .bt-services-container {
  margin: 0;
  div.row {
    padding-top: 30px;
    padding-bottom: 30px;
    .columns {
      position: relative;
    }
  }
  a.link-row {
    padding: 29px $small-column-gutter 29px $small-column-gutter;
    background-color: inherit;
  }
  li.bt-service {
    svg {
      bottom: -9px;
      left: 70px;
    }
    svg.top {
      top: 0px;
      left: 70px;
      fill: white !important;
    }
  }
  .bt-service {
    position: relative;
    div.content {
      padding: 0 $small-column-gutter 20px $small-column-gutter;
      background-color: inherit;
    }
    .more {
      padding-top: 20px;
    }
    div.service-img {
      height: 570px;
      background-color: white;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    svg {
      position: relative;
      bottom: -39px;
      left: 40px;
      float: left;
      z-index: 1000;
    }
    svg.top {
      position: relative;
      top: -30px;
      left: 40px;
      float: left;
      fill: white !important;
    }
    h3 {
      font-weight: 400;
      letter-spacing: 1px;
      margin: 0;
      clear: left;
    }
    h4 {
      margin: 5px 0 0 0px;
      font-family: $font-family-sans-serif;
      font-weight: 300;
      line-height: 1em;
      letter-spacing: 0.04rem;
    }
    p {
      font-weight: 300;
    }
  }
  .bt-service:nth-child(1) {
    background-color: black;
    color: white;
    svg { fill: black; }
    div.service-img {
      background-image: url("../img/service_img1.jpg");
    }
    h3, h4 { color: white; }
  }
  .bt-service:nth-child(2) {
    background-color: #f08678;
    color: black;
    svg { fill: #f08678; }
    div.service-img {
      background-image: url("../img/service_img2_alt.jpg");
    }
  }
  .bt-service:nth-child(3) {
    background-color: #dedede;
    color: black;
    svg { fill: #dedede; }
    div.service-img {
      background-image: url("../img/service_img3.jpg");
    }
  }
  .bt-service:nth-child(4) {
    background-color: #78e0fc;
    color: black;
    svg { fill: #78e0fc; }
    div.service-img {
      background-image: url("../img/service_img4_alt.jpg");
    }
  }    
  .bt-service:nth-child(5) {
    svg { fill: white; }
    div.service-img {
      background-image: url("../img/service_img5.jpg");
    }
  }
  .bt-service:nth-child(6) {
    background-color: #b5d763;
    color: black;
    svg { fill: #b5d763; }
    div.service-img {
      background-image: url("../img/service_img6.jpg");
    }
  }
  .bt-service:nth-child(7) {
    background-color: #5b5b58;
    color: white;
//    svg { fill: #b5d763; }
    div.service-img {
      background-image: url("../img/service_img7.jpg");
    }
    h3, h4 { color: white; }
    .more {
      color: black;
    }
  }
}
