/* Prior work section
******************************************/

@media #{$small-only} {
  .bt-work-images {
    img {
      padding-bottom: 10px;
    }
  }
  .work-content {
    padding-top: 10px;
  }
}

div.bt-work {
  background-color: black;
  padding-top: 4px;
  padding-bottom: 3rem;
  color: $silver;
  border-top: 3px solid #b5d763;


  .bt-hline {
    box-sizing: border-box;
    height: 3px;
    background-color: $black;
  }
  .bt-header {
    h2 {
      color: $primary-color;
    }
  }
}
.work-gallery {
  .work-images {
    img {
      float: left;
      margin-right: 5px;
    }
  }
  .work-desc {
    padding: 10px 0 10px 0;
    clear: left;
    width: 166px;

    p {
      text-align: left;
    }
  }
}

.minimal .main-container {
  .bt-work-item {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .bt-work .columns {
    padding-top: 50px;
  }
}
