/* Employee section
********************************************/

@media #{$medium-up} {
  div.bt-employees {

    background-color: white;
    padding-top: 50px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 60px;

    ul.employee-list {
      margin: 0;
      width: 100%;
      display: -webkit-flex; /* Safari */
      -webkit-flex-direction: row; /* Safari 6.1+ */
      display: flex;
      flex-direction: row;
      li {
        list-style: none;
        min-width: 270px;
        max-width: 290px;
        flex-grow: 1;
        .columns {
          padding-left: 15px;
          padding-right: 15px;
        }
      }
      li.pusher {
        min-width: 0px;
        max-width: none;
      }
      div.emp {
        height: 410px;
        overflow: hidden;
        border-bottom: 4px solid $primary-color;
        margin-bottom: 30px;
        text-align: left;

        div.emp-image {
          position: relative;
          padding-right: 15px;
          padding-left: 15px;

          img {
            max-height: 410px;
            position: relative;
            //top: 50%;
            //transform: translateY(-50%);
          }
        }
      }
      div.emp-right {
        text-align: right;
      }
      div.emp-left {
        text-align: left;
      }
    }
  }
}
@media #{$small-only} {
  .pusher {
    display: none !important;
    visibility: hidden;
  }
}

.bt-employees {

  background-color: #ececec;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 60px;

  ul.employee-list {
    margin: 0;
    li {
      padding-bottom: 30px;
    }
    div.emp {
      height: 320px;
      overflow: hidden;
      margin-bottom: 30px;
      background-color: #fff;

      div.small-emp-image {
        position: relative;
        text-align: center;

        img {
          width: 100%;
          max-width: 280px;
          position: relative;
          //bottom: 50%;
          //transform: translateY(-50%);
        }
      }
    }
    h3.subheader {
      text-transform: none;
      font-size: rem-calc(18);
      line-height: 1.5rem;
      font-weight: 300;
      font-family: $font-family-sans-serif;
    }
  }
}
