/* Prior work section
******************************************/

div.bt-work {
  background-color: black;
  padding-top: 4px;
  padding-bottom: 60px;
  color: $silver;

  .bt-header {
    h2 {
      color: $primary-color;
    }
  }
  ul li a {
    display: block;
    position: relative;
    p {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      margin: 0;
      padding: 0px 0 0px 9px;
      background: rgba(0,0,0,0.3);
    }
  }
}
.work-gallery {
  .work-images {
    img {
      float: left;
      margin-right: 5px;
    }
  }
  .work-desc {
    padding: 10px 0 10px 0;
    clear: left;
    width: 166px;

    p {
      text-align: left;
    }
  }
}

.minimal .main-container {
  .bt-work-item {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .bt-work .columns {
    padding-top: 50px;
  }
}


@media #{$small-only} {
  .bt-work-images {
    img {
      padding-bottom: 10px;
    }
  }
  .work-content {
    padding-top: 10px;
  }
}
