@media #{$xlarge-up} {
  body div.header-container {
    background-image: url("../img/hero/hero_xl_veryhigh.jpg");
  }
}
@media #{$large-up} {
  div.header-container {
    height: 650px;
    padding-top: 20px;
    background-image: url("../img/hero/hero_m_new.jpg");
    h1 {
      margin-top: 13rem;
    }
    img.top-logo {
      margin-left: -175px;
      width: 350px;
    }
  }
}
@media #{$medium-only} {
  div.header-container {
    background-image: url("../img/hero/hero_m_new.jpg");
    padding-top: 20px;
    height: 500px;
    h1 {
      margin-top: 9rem;
    }
    img.top-logo {
      margin-left: -125px;
      width: 250px;
    }
  }
}
@media #{$small-only} {
  div.header-container {
    background-image: url("../img/hero/hero_s_new.jpg");
  }
  h1 {
    margin-top: 8rem;
  }
}
@media #{"only screen and (max-width: 350px)"} {
  html body div.header-container h1 {
    font-size: rem_calc(28);
  }
}
.minimal .header-container {
  background-image: none;
  height: 110px;
  padding-top: 10px;
  border-bottom: 1px solid black;

  img.top-logo {
    margin-left: -80px;
    width: 180px;
    height: auto;
  }
}
.header-container {
  background-image: url("../img/hero/hero_m.jpg");
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-bottom: 4px solid black;
  overflow: hidden;
  box-sizing: border-box;

  text-align: center;

  h1 {
    letter-spacing: -1px;
  }
  h1.subheader {
    margin-top: 0;
    font-weight: 300;
  }
  a:hover {
    opacity: inherit;
  }
  img.top-logo {
    position: absolute;
    top: 15px;
    left: 50%;
    margin-left: -110px;
    width: 220px;
    height: auto;
    //margin-top: 15px;
    //float: left;
  }
  .bt-menu-container {
    .burger-menu {
      content: "";
      position: absolute;
      top: 0.25em;
      right: 0;
      width: 2em;
      height: 0.25em;
      border-top: 0.375em double #000;
      border-bottom: 0.125em solid #000;
    }
  }
}
