.minimal div.footer-container {
  background-image: none;
  border-top: 1px solid black;
}
div.footer-container {
  min-height: 20px;
  max-height: rem_calc(200);
  background-color: #5A8CA8;
  position: relative;
  overflow: hidden;
  div.columns {
    text-align: center;
  }
  .footer-content {
    position: absolute;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    height: 100px;
    top: rem_calc(60);
    z-index: 30;
    span {
    }
    .footer-adr {
      text-align: right;
      width: 400px;
      float: left;
      padding-right: 20px;
      padding-top: 13px;
      p {
        color: $silver;
        font-weight: 200;
        margin: 0px;
        line-height: 1.1em;
        text-transform: capitalize;
        letter-spacing: 0.02rem;
        font-size: rem_calc(22);
      }
    }
    .footer-contact {
      float: left;
      width: 200px;
    }
  }
  img {
    position: relative;
    bottom: rem_calc(-100);
    width: 100%;
    opacity: 0.051;
  }
  div.bt-copy {
    background-color: #5A8CA8;
    font-size: rem_calc(12);
    text-align: center;
    color: $smoke;
  }
  footer {
    box-sizing: border-box;
    padding: 0;
    margin: 15px 0 15px 0;
    color: $silver;
    //height: 120px;
    h3 {
//      padding: 1px 5px 1px 5px;
//      line-height: 1em;
//      display: inline;
//      background-color: rgba(0,0,0,0.6);
      color: $silver;
    }
  }
}

@media #{$large-up} {
  body div.footer-container {
    .footer-content {
    }
    img {
      bottom: rem_calc(-50);
    }
  }
}
