/* Services section, custom background colors
**********************************************/

@media #{$large-up} {
  div.bt-service div.row div.columns div.more {
    width: 50%;
    float: left;
    padding-left: 25px;
    padding-top: 94px;
    padding-bottom: 10px;
    p {
      font-size: 1.1rem;
      font-weight: 300;
      line-height: 130%;
      //letter-spacing: 0.04rem;
      //text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    }
    p.contact {
      //padding-top: 10px;
      font-weight: 400;
    }
  }
  div.full-row div.bt-services-container div.bt-service {
    .serviceheader {
      width: 50%;
      float: left;
      text-align: right;
      padding-right: 25px;
    }
    h3 {
      padding-top: 20px;
      font-weight: 200;
      text-transform: capitalize;
      letter-spacing: 0.01rem;
      font-size: rem_calc(40);
    }
    h4 {
      padding-top: 15px;
    }
    svg {
      position: absolute;
      bottom: -55px;
      width: 27px;
      height: 27px;
      left: 50%;
      margin-left: -12px;
    }
    svg.top {
      position: absolute;
      top: -32px;
      width: 27px;
      height: 27px;
      left: 50%;
      margin-left: -12px;
      fill: white !important;
    }
  }
}
@media #{$medium-only} {
  div.full-row div.bt-services-container div.bt-service {
    position: relative;
    .columns {
      padding-top: 20px;
    }
   svg {
     position: absolute;
     left: 90px;
     width: 27px;
     height: 27px;
   }
   svg.top {
     width: 27px;
     height: 27px;
   }
 }
}

div.full-row .bt-services-container {
  margin: 0;
  div.row {
    padding-top: 30px;
    padding-bottom: 30px;
    .columns {
      position: relative;
    }
  }
  a.link-row {
    padding: 29px $small-column-gutter 29px $small-column-gutter;
    background-color: inherit;
    border: none;
  }
  li.bt-service {
    a.link-row, a.link-row:hover {
      text-decoration: none;
    }
    a.link-row:focus {
      outline: none;
    }
    svg {
      bottom: -9px;
      left: 70px;
    }
    svg.top {
      top: 0px;
      left: 70px;
      fill: white !important;
    }
  }
  .bt-service {
    position: relative;
    div.content {
      padding: 0 $small-column-gutter 20px $small-column-gutter;
      background-color: inherit;
      p {
        line-height: 1.3em;
        letter-spacing: 0.04rem;
      }
    }
    svg {
      position: relative;
      bottom: -52px;
      left: 40px;
      float: left;
      z-index: 1000;
    }
    svg.top {
      top: -35px;
      float: left;
      fill: white !important;
    }
    h3 {
      font-weight: 300;
      letter-spacing: 0.04rem;
      font-size: rem_calc(26);
      margin: 0;
      clear: left;
    }
    h4 {
      margin: 15px 0 0 0px;
      font-family: $font-family-sans-serif;
      font-weight: 300;
      line-height: 1.2em;
      letter-spacing: 0.04rem;
    }
    p {
      font-weight: 300;
    }
    div.service-img {
      display: none;
      visibility: hidden;
      height: 0px;
      background-color: white;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  .bt-service:nth-child(1) {
    background-color: black;
    color: $silver;
    svg { fill: black; }
    div.service-img {
      background-image: url("../img/service_img1.jpg");
    }
    h3, h4 { color: white; }
  }
  .bt-service:nth-child(2) {
    background-color: #f08678;
    svg { fill: #f08678; }
    div.service-img {
      background-image: url("../img/service_img2_alt.jpg");
    }
  }
  .bt-service:nth-child(3) {
    background-color: #dedede;
    svg { fill: #dedede; }
    div.service-img {
      background-image: url("../img/service_img3.jpg");
    }
  }
  .bt-service:nth-child(4) {
    background-color: $primary-color;
    svg { fill: $primary-color; }
    div.service-img {
      background-image: url("../img/service_img4_alt.jpg");
    }
  }    
  .bt-service:nth-child(5) {
    svg { fill: white; }
    div.service-img {
      background-image: url("../img/service_img5.jpg");
    }
  }
  .bt-service:nth-child(6) {
    background-color: #b5d763;
    svg { fill: #b5d763; }
    div.service-img {
      background-image: url("../img/service_img6.jpg");
    }
  }
  .bt-service:nth-child(7) {
    background-color: #5b5b58;
//    svg { fill: #b5d763; }
    div.service-img {
      background-image: url("../img/service_img7.jpg");
    }
    h3, h4, .more { color: $silver; }
  }
}
