$button-width: 55px;
$button-height: 46px;
$bar-thickness: 4px;
$button-pad: 12px;
$button-trans-delay: 0.3s;

@media #{$large-up} {
}

.bt-oc-menu {
  background-color: $primary-color;
  border-right: 10px solid #5A8CA8;
  padding-top: 40px;
  ul {
    text-align: right;
    color: $silver;
    li a {
      display: block;
      padding: 0 15px 10px 15px;
      margin-top: 10px;
      width: 100%;
      text-decoration: none;
      border-bottom: 1px solid #5A8CA8;
    }
  }
}

/* Styles for animated menu icon
 *****************************************/

.bt-menu-container {
  width: $button-width;
  height: $button-height;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 12;
}

.cmn-toggle-switch {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: $button-width;
  height: $button-height;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background $button-trans-delay;
  background-color: none;
}
.cmn-toggle-switch:hover {
  background: none;
}

.cmn-toggle-switch:focus {
  outline: none;
  background: none;
}

.cmn-toggle-switch span {
  display: block;
  position: absolute;
  top: ($button-height / 2) - ($bar-thickness / 2);
  left: $button-pad;
  right: $button-pad;
  height: $bar-thickness;
  background: $primary-color;
}

.cmn-toggle-switch span::before,
.cmn-toggle-switch span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: $bar-thickness;
  background-color: $primary-color;
  content: "";
}

.cmn-toggle-switch span::before {
  top: -(($button-height / 2) - ($bar-thickness / 2) - $button-pad);
}

.cmn-toggle-switch span::after {
  bottom: -(($button-height / 2) - ($bar-thickness / 2) - $button-pad);
}

/**
* Style 2
*
* Hamburger to "x" (htx). Takes on a hamburger shape, bars slide
* down to center and transform into an "x".
*/

.cmn-toggle-switch__htx {
  background-color: none;
  background: none;
}

.cmn-toggle-switch__htx span {
  //transition: background 0 $button-trans-delay;
}

.cmn-toggle-switch__htx span::before,
.cmn-toggle-switch__htx span::after {
  transition-duration: $button-trans-delay, $button-trans-delay;
  transition-delay: $button-trans-delay, 0;
}

.cmn-toggle-switch__htx span::before {
  transition-property: top, transform;
}

.cmn-toggle-switch__htx span::after {
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */

.cmn-toggle-switch__htx.active {
  //border: 1px solid black;
}

.cmn-toggle-switch__htx.active span {
  background: none;
}

.cmn-toggle-switch__htx.active span::before {
  top: 0;
  transform: rotate(45deg);
}

.cmn-toggle-switch__htx.active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.cmn-toggle-switch__htx.active span::before,
.cmn-toggle-switch__htx.active span::after {
  transition-delay: 0, $button-trans-delay;
}
