@import "bt-header";
@import "bt-services";
@import "bt-employees";
@import "bt-work";
@import "bt-where";
@import "bt-footer";
@import "bt-menu";

@media #{$small-only} {
  .columns {
    padding: 0 $small-column-gutter 0 $small-column-gutter;
  }
}
@media #{$large-up} {
  div.bt-header {
    text-align: center;
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
}

body.noscroll {
  overflow-x: hidden;
  overflow-y: auto;
}

.full-row {
  width: 100%;
}
h1, h2, h3 {
  text-transform: uppercase;
  letter-spacing: -1px;
}
a:hover {
  opacity: 0.8;
}

.bt-header {
  padding-top: 4rem;
  padding-bottom: 4rem;
  .subheader {
    font-weight: 300;
  }
  p {
    margin-bottom: 0;
    font-size: rem-calc(20);
    font-weight: 300;
    line-height: 1.1em;
    letter-spacing: 0.025rem;
  }
}

.bt-color {
  color: $primary-color;
}
