@import "bt-header";
@import "bt-services";
@import "bt-employees";

@media #{$small-only} {
  .columns {
    padding: 0 $small-column-gutter 0 $small-column-gutter;
  }
}
@media #{$large-up} {
  div.bt-header {
    text-align: center;
    padding-top: 10rem;
  }
}

.full-row {
  width: 100%;
}
h1, h2, h3 {
  text-transform: uppercase;
  letter-spacing: -1px;
}

.bt-header {
  padding-top: 4rem;
  padding-bottom: 4rem;
  .subheader {
    font-weight: 300;
  }
  p {
    margin-bottom: 0;
    font-size: rem-calc(20);
    font-weight: 300;
    line-height: 1.1em;
    letter-spacing: 0.04rem;
  }
}

.bt-color {
  color: $primary-color;
}

/* Prior work section
******************************************/

div.bt-work {
  background-color: black;
  padding-top: 4px;
  color: white;

  .bt-header {
    border-top: 3px solid #b5d763;

    h2 {
      color: $primary-color;
    }
  }
}
.work-gallery {
  .work-images {
    img {
      float: left;
      margin-right: 5px;
    }
  }
  .work-desc {
    padding: 10px 0 10px 0;
    clear: left;
    width: 166px;

    p {
      text-align: left;
    }
  }
}

/* Where is Bakatil
**************************/
div.bt-where {
  background-color: #d0af7a;

  header h2 {
    color: white;
  }
}
