@media only screen and (min-width: 1440px) {
    body .wrapper {
        width: 1240px;
        margin-left: auto;
        margin-right: auto;
    }

    body {
        .header-container {
            background-image: url("../img/esja_blue_sea_blue_full.jpg");
            height: 630px;
            header {
                background-position: center left;
                h1 {
                    margin-top: 200px;
                }
            }
        }
    }
}
